body {
  font-family: "jaf-facitweb", sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  background: #f1f1f1;
  padding-top: 70px; }
  body h1, body h2, body h3, body h4, body h5 {
    font-family: "jaf-facitweb", sans-serif; }

.grey {
  background: #f1f1f1; }

.white {
  background: white; }

.blue {
  background: #00b6d6; }

.purple-gradient {
  background-image: -webkit-linear-gradient(left, #491164 0%, #b5238a 87%);
  background-image: -o-linear-gradient(left, #491164 0%, #b5238a 87%);
  background-image: linear-gradient(to right, #491164 0%, #b5238a 87%); }

.graydient {
  background-image: -webkit-linear-gradient(left, #efefef 0%, #dadada 87%);
  background-image: -o-linear-gradient(left, #efefef 0%, #dadada 87%);
  background-image: linear-gradient(to right, #efefef 0%, #dadada 87%); }

.lightBlue-gradient {
  background-image: -webkit-linear-gradient(left, #c2e0ed 0%, #83d0f0 87%); }

.flat {
  margin: 0;
  padding: 0; }

.btn {
  border-radius: 2px;
  border: none;
  font-weight: normal; }
  .btn i {
    font-size: 0.7em; }

.btn-lg {
  font-size: 16px;
  padding: 12px 24px; }

.btn-black {
  background: rgba(0, 0, 0, 0.5);
  color: white;
  -webkit-font-smoothing: antialiased; }
  .btn-black:hover {
    background: rgba(0, 0, 0, 0.7);
    color: white; }

.btn-bordered {
  border: 2px solid white;
  background: none;
  color: white;
  background: rgba(0, 0, 0, 0.2); }
  .btn-bordered:hover {
    background: rgba(0, 0, 0, 0.45);
    color: white; }

.panel-group .panel {
  margin-bottom: 1em; }
  .panel-group .panel .panel-heading {
    background: white; }
  .panel-group .panel .panel-title {
    padding: 8px 0px;
    text-transform: none;
    text-decoration: none; }
    .panel-group .panel .panel-title a {
      font-size: 16px; }
      .panel-group .panel .panel-title a i {
        margin-right: 6px;
        top: 2px; }
      .panel-group .panel .panel-title a .glyphicon-chevron-right {
        display: none; }
      .panel-group .panel .panel-title a .glyphicon-chevron-down {
        display: inline-block;
        top: 4px; }
      .panel-group .panel .panel-title a.collapsed .glyphicon-chevron-right {
        display: inline-block; }
      .panel-group .panel .panel-title a.collapsed .glyphicon-chevron-down {
        display: none; }
  .panel-group .panel .panel-collapse .panel-body {
    border-top: none;
    padding: 10px 30px 15px; }

.well {
  width: 124px;
  display: block;
  box-shadow: none;
  border-radius: 0;
  border: none;
  background: none;
  padding-top: 0; }
  .well h3 {
    text-transform: uppercase;
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 20px; }
  .well ul {
    list-style-type: none;
    list-style-position: inside;
    padding: 0;
    margin: 0; }
    .well ul li {
      margin-bottom: 10px; }
      .well ul li a i {
        display: none;
        font-size: 0.7em;
        margin-right: 5px;
        top: 0px; }

body.home {
  padding-top: 0; }
  body.home section {
    padding: 2em 0; }
    body.home section.hero {
      background: #00b6d6;
      padding-top: 100px; }
      body.home section.hero h1 {
        color: white;
        font-weight: bold; }
      body.home section.hero h2 {
        font-size: 22px;
        margin-bottom: 20px;
        color: white; }
      body.home section.hero ul li {
        font-size: 18px;
        color: white; }
    body.home section h1 {
      text-align: center;
      margin: 0 0 30px; }
    body.home section h3 {
      margin-top: 40px;
      font-size: 1.75em; }
    body.home section .artwork {
      width: 70%; }
    body.home section .icon {
      width: 150px;
      height: 100px;
      display: inline-block;
      background-size: 100px 100px;
      background-repeat: no-repeat;
      background-color: transparent;
      background-position: center center;
      transition: 0.5s ease-in-out;
      opacity: 0;
      -webkit-transform: translateY(88px);
      -moz-transform: translateY(88px);
      -o-transform: translateY(88px);
      -ms-transform: translateY(88px);
      transform: translateY(88px); }
      body.home section .icon.shown {
        opacity: 1;
        -webkit-transform: none;
        -moz-transform: none;
        -o-transform: none;
        -ms-transform: none;
        transform: none; }
      body.home section .icon.seo {
        background-image: url("../images/search-icon.png"); }
      body.home section .icon.rwd {
        background-image: url("../images/devices-icon.png"); }
      body.home section .icon.ppc {
        background-image: url("../images/targeting-icon.png"); }
      body.home section .icon.conversion {
        background-image: url("../images/funnel-icon.png"); }
      body.home section .icon.ux {
        background-image: url("../images/beaker-icon.png"); }

section {
  padding: 3em 0; }
  section.blue h1, section.blue h2, section.blue h3, section.blue p, section.blue ul li, section.purple h1, section.purple h2, section.purple h3, section.purple p, section.purple ul li {
    color: white; }
  section h1, section h2, section h3, section h4 {
    margin-top: 0;
    padding: 0;
    text-transform: uppercase; }
  section h1 {
    margin-bottom: 20px;
    font-weight: bold; }
  section h2 {
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 5px;
    border-bottom: 1px solid #efefef; }
    section h2 small {
      margin-left: 10px; }
  section p {
    font-size: 15px;
    line-height: 1.6;
    margin-bottom: 24px; }
    section p.intro {
      font-size: 18px; }
  section ul {
    padding: 0 0 0 20px;
    margin-bottom: 30px;
    list-style-position: outside; }
    section ul li {
      margin-bottom: 15px; }
  section code {
    margin-bottom: 30px; }
  section .card {
    border: 1px solid rgba(0, 0, 0, 0.1);
    background: white;
    padding: 20px;
    margin-bottom: 30px;
    overflow: auto; }
    section .card img {
      max-width: 100%;
      height: auto; }
  section .respond-form {
    padding: 0;
    margin-top: 0; }
  section .byline {
    font-size: 14px;
    text-transform: uppercase; }

.bubble {
  position: relative;
  text-align: center;
  background: #cccccc;
  color: #212121;
  border: none;
  border-radius: 6px;
  padding: 10px;
  margin-bottom: 20px; }
  .bubble:after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 50%;
    margin-left: -10px;
    border-width: 10px 10px 0;
    border-style: solid;
    border-color: #cccccc transparent;
    display: block;
    width: 0; }
  .bubble em {
    font-weight: bold;
    font-size: 32px;
    display: block; }

.results .card {
  height: 200px; }
  .results .card .flat {
    position: absolute;
    bottom: 45px;
    left: 0;
    right: 0; }
  .results .card h1 {
    text-indent: -9999px; }

.post-excerpt .col-sm-4 {
  padding: 0; }
.post-excerpt .col-sm-8 {
  padding-left: 0; }
  .post-excerpt .col-sm-8 h1 {
    line-height: 1;
    margin-bottom: 5px;
    font-size: 22px; }
    .post-excerpt .col-sm-8 h1 a {
      text-transform: none;
      line-height: 1;
      padding: 0; }
  .post-excerpt .col-sm-8 .byline {
    font-size: 12px;
    text-transform: uppercase;
    margin-bottom: 15px; }
  .post-excerpt .col-sm-8 p {
    margin-bottom: 0;
    font-size: 14px;
    line-height: 1.5; }

.value {
  padding: 15px 0;
  margin-bottom: 15px;
  border-bottom: 1px solid #dadada;
  box-shadow: 0 1px 0 white; }
  .value h2 {
    font-size: 24px; }
  .value blockquote {
    background: white;
    font-family: Georgia, serif;
    border-radius: 12px;
    position: relative;
    font-size: 17px;
    line-height: 1.6;
    font-style: italic;
    padding: 20px;
    border: none;
    color: #555555; }
    .value blockquote:after {
      content: "";
      position: absolute;
      bottom: 50%;
      left: -15px;
      margin-bottom: -15px;
      border-width: 15px 15px 15px 0;
      border-style: solid;
      border-color: transparent white;
      display: block;
      width: 0; }
    .value blockquote small {
      color: #212121;
      display: block;
      text-align: right;
      margin-top: 10px;
      font-style: normal;
      margin-left: 10px;
      font-family: "jaf-facitweb", sans-serif; }

.single .card {
  padding: 30px; }
  .single .card article h1 {
    font-size: 28px;
    margin-bottom: 5px; }
  .single .card article .blog-post {
    margin-bottom: 20px;
    border-bottom: 1px solid #efefef; }

.service.ppc {
  background: #dc7960;
  color: rgba(0, 0, 0, 0.85); }
.service h1 {
  margin-bottom: 40px;
  text-align: center; }
.service p {
  font-size: 18px; }
.service ul li {
  font-size: 18px;
  margin-bottom: 10px; }

.contact .google-map {
  position: relative;
  padding-bottom: 75%;
  height: 0;
  overflow: hidden;
  margin-bottom: 20px; }
  .contact .google-map iframe {
    background: white;
    padding: 6px;
    position: absolute;
    border: 1px solid #dddddd !important;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important; }
.contact address {
  margin-top: 20px; }
  .contact address span {
    display: block;
    margin-bottom: 5px; }

.home header .navbar {
  background: rgba(0, 0, 0, 0.4);
  position: absolute; }

header .navbar {
  background: #282828;
  border-bottom-color: rgba(0, 0, 0, 0.1);
  height: 70px; }
  header .navbar .navbar-header .navbar-brand {
    height: 70px;
    line-height: 70px;
    padding: 0 15px;
    font-size: 1.5em;
    color: white; }
    header .navbar .navbar-header .navbar-brand i {
      font-size: 0.8em;
      margin-right: 4px; }
    header .navbar .navbar-header .navbar-brand:hover {
      background: rgba(0, 0, 0, 0.1); }
  header .navbar .call {
    margin: 0 0 0 100px; }
    header .navbar .call .navbar-nav li {
      color: white;
      line-height: 70px; }
  header .navbar .navbar-collapse .navbar-nav {
    float: right; }
    header .navbar .navbar-collapse .navbar-nav li a {
      color: white;
      line-height: 70px;
      padding: 0 15px; }
      header .navbar .navbar-collapse .navbar-nav li a:hover {
        background: rgba(0, 0, 0, 0.15); }
    header .navbar .navbar-collapse .navbar-nav li.active a {
      background: transparent; }
      header .navbar .navbar-collapse .navbar-nav li.active a:hover {
        background: rgba(0, 0, 0, 0.15); }
    header .navbar .navbar-collapse .navbar-nav li.telephone {
      color: white; }

.footer {
  background: #282828;
  color: white;
  margin: 0;
  text-align: center;
  border: none;
  box-shadow: none; }
