section
	padding: 3em 0
	.slim
		padding: 0 10px
	&.blue, &.purple
		h1, h2, h3, p, ul li
			color: white
	h1, h2, h3, h4
		margin-top: 0
		padding: 0
		i
			font-size: .76em
	h1
		// text-transform: uppercase
		margin-bottom: 20px
		// padding-bottom: 5px
		// border-bottom: 1px solid #efefef
	h2
		font-size: 28px
		margin-top: 40px
		&:first-child
			margin-top: 0
		&.flat
			margin: 0
		small
			margin-left: 10px
	article
		h3
			text-transform: uppercase
			font-size: 18px
			font-weight: bold
			margin-top: 30px
		.btn-primary
			margin-top: 10px
	p
		font-size: 18px
		line-height: 1.75
		margin-bottom: 1.4em
		&.intro
			font-size: 22px
		&.cta
			padding-top: 20px
			border-top: 1px solid #efefef
	ul
		padding: 0 0 0 20px
		margin: 20px 0 50px 20px
		list-style-position: outside
		li
			font-size: 18px
			margin-bottom: 20px
	code
		margin-bottom: 30px
	.card
		border: 1px solid #efefef
		background: white
		padding: 10px
		margin-bottom: 20px
		overflow: auto
		img
			max-width: 100%
			height: auto
	.respond-form
		padding: 0
		margin-top: 0
	.byline
		font-size: 14px
		text-transform: uppercase
	&.hero
		position: relative
		height: 260px
		header
			background-size: cover
			background-position: 50% 50%
			height: 260px
			position: absolute
			top: 0
			left: 0
			right: 0
			text-align: center
			z-index: 1
			.overlay
				height: 260px
				position: absolute
				top: 0
				left: 0
				right: 0
				text-align: center
				background: rgba(0, 0, 0, 0.5)
				z-index: 2
				display: table
				width: 100%
				h1
					font-size: 54px
					color: white
					line-height: 1.2
					border: none
					text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3)
					display: table-cell
					vertical-align: middle
.bubble
	position: relative
	text-align: center
	background: #ccc
	color: $black
	border: none
	border-radius: 6px
	padding: 10px
	margin-bottom: 20px
	&:after
		content: ""
		position: absolute
		bottom: -10px
		left: 50%
		margin-left: -10px
		border-width: 10px 10px 0
		border-style: solid
		border-color: #ccc transparent
		display: block
		width: 0
	em
		font-weight: bold
		color: #555
		font-size: 32px
		display: block

.hero
	opacity: 0
	filter: alpha(opacity=0)
	-moz-transition: .4s opacity ease-in-out
	-ms-transition: .4s opacity ease-in-out
	transition: .4s opacity ease-in-out
	&.active
		filter: alpha(opacity=100)
		opacity: 1
.hero h1
	opacity: 0
	filter: alpha(opacity=0)
	-moz-transition: 1s opacity ease-in-out
	-ms-transition: 1s opacity ease-in-out
	transition: 1s opacity ease-in-out
	&.active
		filter: alpha(opacity=100)
		opacity: 1

.results
	opacity: 0
	filter: alpha(opacity=0)
	-moz-transition: 1s opacity ease-in-out
	-ms-transition: 1s opacity ease-in-out
	transition: 1s opacity ease-in-out
	&.active
		filter: alpha(opacity=100)
		opacity: 1
	&.grey
		// padding-top: 1.5em
	.filters
		list-style-type: none
		display: inline-block
		padding: 0
		margin: 0 0 20px
		span
			display: inline-block!important
		.btn
			font-size: 13px
			margin: 0 5px
			color: #666
			padding: 6px 20px
			border: 1px solid darken($lightGrey, 7.5%)
			-webkit-font-smoothing: antialiased
			transition: none
			&:hover, &.active, &.active:hover
				box-shadow: none
				color: $blue
				// background: $blue
				// border-color: $blue
				background: white
			&:active, &:focus
				outline: none
	.card
		min-height: 220px
		text-align: center
		background-size: auto 32px
		background-position: center 90%
		background-repeat: no-repeat
		font-size: 16px
		color: #555
	.col-lg-3
		width: 24%
	.col-lg-3, .col-lg-3 article
		padding: 0 10px
		&.category-analytics
			em
				font-size: 26px
				margin-top: 48px
		&.post-123, &.post-385
			background-size: auto 48px
			article
				background-size: auto 48px
		&.post-141, &.post-390, &.post-277, &.post-417, &.post-528
			background-size: auto 52px
			article
				background-size: auto 52px
		&.post-130, &.post-87
			article
				background-size: auto 42px
		&.post-536
			background-size: auto 48px
			article
				background-size: auto 42px
		// Results 2 Demphasized Version
		&.post-224, &.post-518, &.post-531
			background-size: 80% auto
			article
				background-size: 80% auto
		&.dem
			article
				font-size: 17px
				font-weight: bold
				padding: 15px
				text-transform: lowercase
			span
				display: block
				font-weight: normal
				font-size: 15px
			em
				margin-top: 30px
				display: inline-block
				font-size: 17px
				font-weight: bold
		// Results 4 demphasized flipped version
		&.flip
			background-position: center 20%
			padding-top: 110px
		.flat
			position: absolute
			bottom: 45px
			left: 0
			right: 0
		h1
			display: none
			text-indent: -9999px
		em
			color: #444
			font-weight: bold
			font-size: 42px
			display: block
			font-style: normal
			margin-top: 20px
			small
				font-size: .65em
				display: inline-block
				vertical-align: middle
				margin-bottom: 10px


// Blog posts
.post-excerpt
	.col-sm-4
		padding: 0
	.col-sm-8
		padding-left: 0
		h1
			line-height: 1
			margin-bottom: 5px
			font-size: 22px
			a
				text-transform: none
				line-height: 1
				padding: 0
		.byline
			font-size: 12px
			text-transform: uppercase
			margin-bottom: 15px
		p
			margin-bottom: 0
			font-size: 14px
			line-height: 1.5

.block
	padding: 20px 0
	margin-bottom: 20px
	// border-bottom: 1px solid #efefef
	box-shadow: 0 1px 0 white
	h2
		font-size: 24px
		text-transform: none
		margin-bottom: 15px
	blockquote
		background: white
		font-family: Georgia, serif
		border-radius: 12px
		position: relative
		font-size: 17px
		line-height: 1.6
		font-style: italic
		padding: 0
		border: none
		color: #555
		&:after
			content: ""
			position: absolute
			bottom: 50%
			left: -15px
			margin-bottom: -15px
			border-width: 15px 15px 15px 0
			border-style: solid
			border-color: transparent white
			display: block
			width: 0
		small
			color: $black
			display: block
			text-align: right
			margin-top: 10px
			font-style: normal
			margin-left: 10px
			font-family: "jaf-facitweb", sans-serif
.about
	.card
		h2
			font-size: 28px
			margin-bottom: 30px
	article
		ul
			margin-left: 20px
.careers
	blockquote
		&.mission
			font-size: 26px
			padding: 0
			border: none
	.headroom
		padding-top: 40px
	.positions
		padding-top: 30px
	h3
		font-weight: bold
		font-size: 22px
		line-height: 1.5
	.value
		margin-bottom: 20px
	h2
		padding-bottom: 5px
		border-bottom: 1px solid #efefef
		margin-bottom: 30px
		font-size: 32px
		&.flat
			margin-bottom: 10px!important
	.perk
		margin-bottom: 50px
	.overlay-box
		position: relative
		overflow: auto
		span.text-content
			background: rgba(0,0,0,0.65)
			color: white
			display: table
			min-height: 223px
			width: 100%
			left: 0
			position: absolute
			top: 0
			bottom: 0
			opacity: 0
			transition: all .25s ease-in-out
			font-size: 18px
			padding: 20px
		span.text-content span 
			display: table-cell
			text-align: center
			vertical-align: middle
		&:hover
			span.text-content
				opacity: 1

.leadership
	.col-sm-3
		//padding: 0 5px
	.team-member
		position: relative
		padding: 0
		margin-left: 10px
		&:hover
			.caption
				opacity: 1
	.caption
		position: absolute
		display: block
		top: 0
		bottom: 0
		right: 0
		left: 0
		opacity: 0
		transition: opacity .25s ease-in-out
		background: rgba(0, 0, 0, .6)
		h3
			text-align: left
			color: white
			position: absolute
			top: 50%
			left: 10px
			right: 0
			font-size: 19px
			text-transform: uppercase
			margin-top: -25px
			span
				display: inline-block
			small
				margin-top: 10px
				display: block
				color: white
				text-transform: none
	.headshot-wrapper
		float: left
		margin: 0 20px 5px 0
		width: 200px
		display: block
		text-align: center
	.headshot
		border: 1px solid #dadada
		padding: 5px
		clear: both
		margin-bottom: 10px
	.linkedin
		text-align: right
		font-size: 14px
		.btn-default
			font-size: 12px
		img
			width: 14px
			height: 14px
			display: inline-block
			vertical-align: middle
			margin-right: 2px
			margin-bottom: 2px
	article
		padding-bottom: 15px
		border-bottom: 1px solid #efefef
		margin-bottom: 40px
		h2
			border: none
			font-size: 28px
			margin: 0 0 15px
			font-weight: bold
			small
				font-size: 20px


.single 
	.card
		padding: 30px
		article
			h1
				font-size: 28px
				margin-bottom: 5px
			.blog-post
				margin-bottom: 20px
				border-bottom: 1px solid #efefef

.service
	img
		opacity: 0
		transition: opacity .5s ease-in-out
		&.in
			opacity: 1
	h2
		@extend h1
		font-size: 36px
		border: none
	.img-responsive
		display: inline-block
	&.ppc
		img
			max-width: 200px
	&.social
		img
			max-width: 240px
	&.display
		img
			max-width: 160px
	&.analytics
		img
			width: 220px
			margin-top: -20px
	&.cro
		img
			width: 220px
			margin-top: -10px
	&.ux
		img
			width: 160px
	&.website
		img
			width: 200px
	&.creative
		img
			width: 180px
			margin-left: 20px
	&.ab
		img
			width: 260px
	ul
		li
			font-size: 18px
			margin-bottom: 10px

.technique
	margin-bottom: 40px
	h1
		font-weight: normal
		font-size: 24px
		i
			color: darken($lightGrey, 15%)
	.service
		width: 100px
		height: auto
		margin: 1em 1em 1em 0
		background: lighten($blue, 30%)
		border-radius: 50%
	.glyphicon-arrow-down
		font-size: 3em
		position: absolute
		left: -80px
		top: 100%
		margin: -8px 0 0 -22px
		color: #efefef

.contact
	.google-map
		position: relative
		padding-bottom: 75%
		height: 0
		overflow: hidden
		margin-bottom: 0
		iframe
			background: white
			padding: 6px
			position: absolute
			border: 1px solid #ddd!important
			top: 0
			left: 0
			width: 100% !important
			height: 100% !important
	address
		margin-top: 20px
		span.sub
			display: block
			margin-bottom: 5px
	input[type="submit"]
		@extend .btn-primary
		@extend .btn-lg
		@extend .btn-block


.results
	&.grey
		padding-top: 20px