section
	padding: 3em 0
	&.blue, &.purple
		h1, h2, h3, p, ul li
			color: white
	h1, h2, h3, h4
		margin-top: 0
		padding: 0
		text-transform: uppercase
	h1
		margin-bottom: 20px
		font-weight: bold
	h2
		font-size: 20px
		font-weight: bold
		padding-bottom: 5px
		border-bottom: 1px solid #efefef
		small
			margin-left: 10px
	p
		font-size: 14px
		line-height: 1.5
		margin-bottom: 24px
	ul
		padding: 0 0 0 20px
		margin-bottom: 30px
		list-style-position: outside
		li
			margin-bottom: 15px
	code
		margin-bottom: 30px
	.card
		border: 1px solid rgba(0, 0, 0, .1)
		background: white
		padding: 20px
		margin-bottom: 30px
		overflow: auto
		img
			max-width: 100%
			height: auto
	.respond-form
		padding: 0
		margin-top: 0

.bubble
	position: relative
	text-align: center
	background: #ccc
	color: $black
	border: none
	border-radius: 6px
	padding: 10px
	margin-bottom: 20px
	&:after
		content: ""
		position: absolute
		bottom: -10px
		left: 50%
		margin-left: -10px
		border-width: 10px 10px 0
		border-style: solid
		border-color: #ccc transparent
		display: block
		width: 0
	em
		font-weight: bold
		font-size: 32px
		display: block

.results
	.card
		height: 200px
		.flat
			position: absolute
			bottom: 45px
			left: 0
			right: 0
		h1
			text-indent: -9999px

// Blog posts
.post-excerpt
	.col-sm-4
		padding: 0
	.col-sm-8
		padding-left: 0
		h1
			line-height: 1
			margin-bottom: 5px
			font-size: 22px
			a
				text-transform: none
				line-height: 1
				padding: 0
		.byline
			font-size: 12px
			text-transform: uppercase
			margin-bottom: 15px
		p
			margin-bottom: 0


.single 
	.card
		padding: 30px
		article
			h1
				font-size: 28px
				margin-bottom: 5px
			.blog-post
				margin-bottom: 20px
				border-bottom: 1px solid #efefef

.service
	h1
		margin-bottom: 40px
	p
		font-size: 18px
	ul
		li
			font-size: 18px
			margin-bottom: 10px

.contact
	.google-map
		position: relative
		padding-bottom: 75%
		height: 0
		overflow: hidden
		margin-bottom: 20px
		iframe
			background: white
			padding: 6px
			position: absolute
			border: 1px solid #ddd!important
			top: 0
			left: 0
			width: 100% !important
			height: 100% !important
	address
		margin-top: 20px
		span
			display: block
			margin-bottom: 5px