.footer
	background: white
	color: white
	margin: 0
	text-align: center
	border: none
	box-shadow: none
	ul.footer-nav
		margin: 0 0 20px
		li
			margin: 0 10px
			a
				font-size: 17px
				color: $black
				&:hover
					color: $black
					text-decoration: underline
	p.copyright
		font-size: 15px
		color: #999