.footer
	background: darken($blue, 15%)
	color: white
	margin: 0
	text-align: center
	border: none
	box-shadow: none
	ul.footer-nav
		margin: 0 0 20px
		li
			margin: 0 10px
			a
				font-size: 17px
				color: lighten($linkColor, 25%)
				&:hover
					color: white
					text-decoration: none
	p.copyright
		font-size: 15px
		color: lighten($blue, 15%)