.home
	header
		.navbar
			// // background: rgba(0, 0, 0, .4)
			// position: absolute
header
	.navbar
		background: rgba(#006C7F, .98)
		border-bottom-color: rgba(0, 0, 0, .1)
		height: $navbarHeight
		.navbar-header
			.navbar-brand
				width: 145px
				height: $navbarHeight
				background: url('../images/logo-2x.png') center center no-repeat
				background-size: 121px 20px
				text-indent: -9999px
				line-height: $navbarHeight
				padding: 0 15px
				font-size: 1.5em
				color: white
				i
					font-size: .8em
					margin-right: 4px
		.call
			margin: 0 0 0 100px
			.navbar-nav
				li
					color: white
					line-height: $navbarHeight
		.navbar-collapse
			.navbar-nav
				float: right
				li
					a
						color: white
						line-height: $navbarHeight
						padding: 0 18px
						font-size: 15px
						&:hover
							background: rgba(0, 0, 0, .05)
					&.active
						a
							background: transparent
							&:hover
								background: rgba(0, 0, 0, .05)
					&.telephone
						color: white