body.home
	padding-top: 0
	section
		padding: 3em 0
		&.hero
			background: $lightBlue
			background: url('../images/hero-george-blue.jpg') 50% 50% no-repeat
			background-size: cover
			padding-top: 50px+$navbarHeight
			&.white-wall
				background: url('../images/hero-test-2.jpg') 50% 50% no-repeat
				background-size: cover
				h1
					color: $ash
					font-weight: bold
			img
				width: 345px
				height: auto
				display: inline-block
				margin: 20px 0 0 0
				position: absolute
				top: 0px
				left: 50%
				margin-left: -150px
			h1
				font-weight: normal
				text-transform: none
				font-size: 44px
				line-height: 1.4
				margin-bottom: 40px
				text-align: left
				color: white
				span
					&::selection
						background: $ash!important
					&::-moz-selection
						background: $ash!important
			h2
				font-size: 22px
				margin-bottom: 20px
				border: none
			ul
				li
					font-size: 16px
		h1
			text-align: center
			margin: 0 0 30px
		h3
			margin-top: 40px
			font-size: 1.75em
		.artwork
			width: 70%
		.bucket
			text-align: center
		.icon
			width: 120px
			height: 120px
			display: inline-block
			background-size: 120px 120px
			background-repeat: no-repeat
			background-color: transparent
			background-position: center center
			transition: .5s ease-in-out
			opacity: 0
			-webkit-transform: translateY(88px)
			-moz-transform: translateY(88px)
			-o-transform: translateY(88px)
			-ms-transform: translateY(88px)
			transform: translateY(88px)
			margin: 0 0 20px 0
			&.shown
				opacity: 1
				-webkit-transform: none
				-moz-transform: none
				-o-transform: none
				-ms-transform: none
				transform: none
			&.seo
				background-image: url('../images/search-icon.png')
			&.rwd
				background-image: url('../images/devices-icon.png')
				transition-delay: .5s
			&.ppc
				background-image: url('../images/targeting-icon.png')
				transition-delay: .25s
			&.conversion
				background-image: url('../images/funnel-icon.png')
			&.ux
				background-image: url('../images/beaker-icon.png')
			&.analytics
				background-image: url('../images/metrics-icon2.png')
		&.results
			text-align: center
			.item
				padding: 20px 80px
			.col-sm-3
				// float: none
				// display: inline-block
				padding: 0 10px
			.card
				font-size: 14px
				height: 230px
				border-color: darken($lightGrey, 8%)
				em
					font-size: 32px
					margin-top: 40px
				br
					display: none
		&.how
			h2
				border: none
				text-align: center
				font-weight: normal
				font-size: 20px
				margin-bottom: 20px
			ul
				list-style-type: none
				padding: 0
				margin: 0