@media screen and (max-width: 767px)
	$navbarHeight: 40px
	header
		.navbar
			height: $navbarHeight
			.navbar-header
				.navbar-brand
					height: $navbarHeight
					margin-left: 10px
					background-position: center 18px
				.navbar-toggle
					border: none
					&:active, &:hover, &:focus
						background: none
					.icon-bar
						height: 3px
						border-radius: 0
						width: 24px
						background: $black
			.navbar-collapse
				border-top: none
				background: white
				max-height: 500px
				.navbar-nav
					overflow: auto
					width: 100%
					display: block
					float: none
					margin: 0
					li
						width: 100%
						display: block
						float: none
						text-align: center
						a
							margin: 0
							color: $black
							line-height: 50px
						&.active
							a
								background: transparent
								color: $ash
						&.dropdown
							overflow: auto
							.dropdown-menu
								box-shadow: none
								margin: 0
								position: static
								float: none
								border: none
								background: white
								width: 100%
								li
									display: block
									float: left
									width: 50%
									a
										color: $blue
										font-size: 16px
									&.current-menu-item
										a
											background: transparent
											color: $black

	body.home
		section
			.btn-lg
				width: 100%
			&.results
				height: 630px
				.overlay
					h1
						font-size: 40px
						text-align: center
					.intro
						font-size: 18px
						line-height: 1.3
				.carousel
					margin-bottom: 10px
					.more
						display: none
					.item
						padding: 20px 40px 0
						.col-lg-3
							width: 50%
							margin: 0 0% 0px
							float: left
							padding: 0 5px
						.card
							min-height: 150px
							background-position: center 90%
							margin-bottom: 10px
							background-size: auto 20px
							background-repeat: no-repeat
							float: left
							width: 100%
							font-size: 13px
							line-height: 1.3
							&.post-141, &.post-390, &.post-277, &.post-417
								background-size: auto 32px
							&.post-518
								background-size: auto 16px
							&.category-analytics
								em
									font-size: 20px
									margin-top: 20px
							em
								margin-top: 15px
								font-size: 26px
					.carousel-control
						margin-top: -25px
						&.left, &.right
							font-size: 1.5em
						&.right
							span
								margin-left: 3px
				.modal
					.modal-dialog
						padding: 0
						width: 100%
						.modal-content
							border-radius: 0
							.modal-body
								.form-group
									label
										font-size: 14px
									.form-control
										-webkit-appearance: none
										appearance: none
									.first
										margin-bottom: 10px
									.first, .last
										padding: 0 15px
							.modal-footer
								padding: 0 15px 15px
								.btn-primary
									border-radius: 2px
			&.testimonials
				.col-sm-4
					margin-bottom: 30px
					padding-bottom: 30px
					//border-bottom: 1px solid #efefef
					&:last-child
						border: none
						margin-bottom: 0
						padding-bottom: 0
			&.services
				.row
					&.two
						margin-top: 0px
				.bucket
					margin-bottom: 30px
					padding-bottom: 30px
					//border-bottom: 1px solid rgba(0, 0, 0, .08)
					&.last
						border: none
						margin-bottom: 0
						padding-bottom: 0
					.icon
						width: 100px
						height: 100px
						background-size: 100px 100px
			&.contact
				padding: 20px 0 30px
				h2
					font-size: 24px
					text-align: center
					line-height: 1.2
					margin-bottom: 15px
			&.faq
				h1
					font-size: 26px
				.panel-group
					.panel
						.panel-heading
							.panel-title
								font-size: 15px
								line-height: 1.4
	section
		padding: 1.5em 0
		&.hero
			height: 150px
			header
				height: 150px
				.overlay
					height: 150px
					.page-title
						font-size: 28px
			&.terse
				header
					.overlay
						.page-title
							font-size: 40px
		header
			h1
				margin-bottom: 10px
				font-size: 28px
				padding-bottom: 8px
				border-bottom: 1px solid #efefef
		article
			.alignright	
				margin-top: 10px
				width: 150px
				height: auto
			p
				line-height: 1.5
				margin-bottom: 18px
			h3
				margin-top: 30px
			.btn-primary
				width: 100%
		&.results
			.result-cards
				display: none
			.filters
				span
					display: none!important
				.btn
					border: none
					background: transparent
					color: $blue
					padding: 6px 10px
					margin: 0
					font-size: 16px
			.mobile-results
				.col-sm-4
					width: 50%
				.item
					padding: 0 5px
					.card
						min-height: 150px
						background-position: center 90%
						margin-bottom: 10px
						background-size: auto 20px
						background-repeat: no-repeat
						float: left
						width: 100%
						font-size: 13px
						line-height: 1.3
						&.post-141, &.post-390, &.post-277, &.post-417
							background-size: auto 32px
						&.post-518
							background-size: auto 16px
						&.category-analytics
							em
								font-size: 20px
								margin-top: 20px
						em
							font-weight: bold
							margin-top: 15px
							font-style: normal
							display: block
							font-size: 26px
		&.about, &.culture
			padding-top: 0
		&.leadership
			padding-top: 40px
			.headshot-wrapper
				text-align: center
				margin: 0
				display: block
				float: none
				width: 100%
			.headshot
				width: 175px
				display: inline-block
			article
				h2
					font-size: 24px
					text-align: center
					line-height: 1.4
					margin-bottom: 30px
					small
						display: block
						font-size: 20px
						margin: 0
			.linkedin
				.btn-default
					font-size: 17px
					display: block
					width: 100%
					float: none
					margin: 10px 0 0
					padding: 8px 12px
		&.careers
			padding-top: 20px
			blockquote.mission
				font-size: 20px
				margin-bottom: 0
			h3
				font-weight: bold
				font-size: 19px
				text-transform: uppercase
			.positions
				a
					padding: 8px 12px
					font-size: 18px
					border: 1px solid #dadada
					background: #efefef
					text-align: center
					color: $black
					display: block
					width: 100%
					border-radius: 6px
					margin: 10px 0 40px
		&.causes
			padding-top: 20px
			.alignright
				float: none
				width: 100%
				margin: 0 0 20px