@media screen and (min-width: 767px) and (max-width: 991px)
	.results
		.col-sm-4
			width: 32%
		.filters
			span.hidden-xs
				display: block!important
				margin-bottom: 10px
	body.home
		section
			&.results
				.overlay
					h1
						margin-top: 1em!important
						font-size: 48px
					.intro
						font-size: 28px
					.card
						min-height: 220px
					.col-sm-4
						padding: 0 7px
			&.testimonials
				.thumbnail
					width: 100px
					height: auto
				blockquote
					small
						margin-bottom: 10px
			&.contact
				padding: 2em 0
				h2
					font-size: 28px
	.results
		.filters
			.btn
				font-size: 16px
			span.hidden-xs
				font-size: 18px
	.leadership
		.headshot-wrapper
			width: 175px
			height: auto
			margin-bottom: 0
			.headshot
				width: 100%
				height: auto
				margin-bottom: 10px
		article
			h2
				font-size: 30px
				line-height: 1.5
				small
					display: block
					font-size: 22px
		.linkedin
			img
				width: 18px
				height: 18px
			.btn-default
				font-size: 16px
				padding: 12px 22px
	.careers
		blockquote.mission
			font-size: 24px
	section
		&.hero
			&.jobs
				header
					.overlay
						h1
							font-size: 44px