// Color Scheme
$teal: #27bec4
$lightBlue: #d9ebf6
$coffee: #ee8554
$lightGrey: #edf5fa
$ash: #222b30
$red: #e18e7c
$orangeRed: #de3e17
$blue: #205081
$black: #212121

// Common
$linkColor: #57afe6

// Navbar
$navbarHeight: 80px